<div style="position:absolute; left:500px; top:60px;" class="border-border-dark p-4 m-4" >
    <button class="btn btn-info p-2 m-2" data-toggle="modal" data-target="#newModal"><i class="fa fa-plus"></i> Create New
    </button>
    <table class="table table-striped table-active p-2 m-2">
        <thead>
            <tr>
                <th>Hospital-Name</th>
                <th>Facilities</th>
                <th>Departments</th>
                <th>Doctor's Name</th>
                <th>Doctor's Qualification</th>
                <th>Doctor's Expierence</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hospital of HospitalList">
                <td>{{hospital.hospitalname}} </td>
                <td>{{hospital.facilities}}</td>
                <td>{{hospital.department}}</td>
                <td>{{hospital.doctorlist.doctorname}}</td>
                <td>{{hospital.doctorlist.qualification}}</td>
                <td>{{hospital.doctorlist.expierence}}</td> 
                <td>
                    <button (click)="editClick(hospital)" type="button" class="btn btn-info" data-toggle="modal"
                data-target="#EditModal">Edit</button>
                    <button (click)="deleteClick(hospital.id)" type="button" class="btn btn-danger p-2 m-2">Delete</button>
                </td>
            </tr>
            <tr **ngFor="let doc of DoctorList"> 
            </tr>
        </tbody>
    </table>
    <form [formGroup]="saveform">
        <!-- Create -->
        <!-- Header -->
        <div class="modal" role="dialog" id="newModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">Create New </div>
                        <button class="close" data-dismiss="modal" type="button">
                            <span>&times;</span>
                        </button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="textname" class="col-sm-4">Hospital-Name</label>
                            <div class="col-sm-8">
                                <input type="text"  [(ngModel)]="newHospital.hospitalname" formControlName="hospitalname" id="textname" placeholder="Name"
                                    name="name" class="form-control">
                                    <!-- <div class="text-danger" *ngIf="saveform.controls['hospitalname'].hasError('minlength')">
                                        Hospital name must be at least 3 characters long.
                                        </div>
                                        <div class="text-danger" *ngIf="saveform.controls['hospitalname'].hasError('maxlength')">
                                          Hospital-Name must not be 15 characters .
                                        </div>
                                        <div class="text-danger" *ngIf="saveform.get('hospitalname')?.invalid &&
                                        (saveform.get('hospitalname')?.dirty || saveform.get('hospitalname')?.touched || submitted) ">
                                    Hospital Name is Required.
                                     </div> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="textfac" class="col-sm-4">Facilities</label>
                            <div class="col-sm-8">
                                <input type="text" [(ngModel)]="newHospital.facilities" id="textfac"
                                    placeholder="Facilities" name="facility" formControlName="facilities"  class="form-control">
                                    <!-- <div class="text-danger" *ngIf="saveform.controls['facilities'].hasError('minlength')">
                                        Facilities must be at least 3 characters long.
                                        </div>
                                        <div class="text-danger" *ngIf="saveform.controls['facilities'].hasError('maxlength')">
                                          Facilities must not be 15 characters .
                                        </div>
                                        <div class="text-danger" *ngIf="saveform.get('facilities')?.invalid &&
                                        (saveform.get('facilities')?.dirty || saveform.get('facilities')?.touched || submitted) ">
                                        Facilities Name is Required.
                                     </div> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="textdept" class="col-sm-4">Departments</label>
                            <div class="col-sm-8">
                                <input type="text" [(ngModel)]="newHospital.department" id="textdept"
                                    placeholder="Department Name" formControlName="department" name="dept" class="form-control">
                                    <!-- <div class="text-danger" *ngIf="saveform.controls['department'].hasError('minlength')">
                                        department name must be at least 3 characters long.
                                        </div>
                                        <div class="text-danger" *ngIf="saveform.controls['department'].hasError('maxlength')">
                                            department must not be 15 characters .
                                        </div>
                                        <div class="text-danger" *ngIf="saveform.get('department')?.invalid &&
                                        (saveform.get('department')?.dirty || saveform.get('department')?.touched || submitted) ">
                                        department Name is Required.
                                     </div> -->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="docId" class="col-sm-4">Doctor-Name</label>
                            <div class="col-sm-8" >
                                <select [(ngModel)]="newHospital.doctorId" formControlName="doctorId" class="form-control">
                                    <option *ngFor="let doc of DoctorList" [value]="doc.id" class="form-control">
                                        {{doc.doctorname}} </option>
                                </select>
                                <!-- <div class="text-danger" *ngIf="saveform.controls['doctorId'].hasError('minlength')">
                                    Doctor name must be at least 3 characters long.
                                    </div>
                                    <div class="text-danger" *ngIf="saveform.controls['doctorId'].hasError('maxlength')">
                                        Doctor must not be 15 characters .
                                    </div>
                                    <div class="text-danger" *ngIf="saveform.get('doctorId')?.invalid &&
                                    (saveform.get('doctorId')?.dirty || saveform.get('doctorId')?.touched || submitted) ">
                                    Doctor Name is Required.
                                 </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- <footer> -->
                    <div class="modal-footer">
                        <button (click)="saveClick()" type="submit" class="btn btn-success" data-dismiss="modal">Save</button>
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form>
        <!-- Header -->
        <div class="modal" role="dialog" id="EditModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">Edit Hospital</div>
                        <button class="close" data-dismiss="modal" type="button">
                            <span>&times;</span>
                        </button>
                    </div>
                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="textname" class="col-sm-4">Hospital-Name</label>
                            <div class="col-sm-8">
                                <input type="text" [(ngModel)]="newHospital.hospitalname" id="textname" name="name"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="texadd" class="col-sm-4">Facilities</label>
                            <div class="col-sm-8">
                                <input type="text" [(ngModel)]="newHospital.facilities" id="textadd" name="facility"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="textdept" class="col-sm-4">Departments</label>
                            <div class="col-sm-8">
                                <input type="text" [(ngModel)]="newHospital.department" id="textdept" name="dept"
                                    class="form-control">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                <label for="textdoc" class="col-sm-4">Doctor's Name</label>
                <div class="col-sm-8">
                    <input   type="text" [(ngModel)]="newHospital.doctorlist.doctorname"  id="textdoc"  name="doc" class="form-control">
                </div>
            </div>
            
            <div class="form-group row">
                <label for="textqua" class="col-sm-4">Doctor's Qualification</label>
                <div class="col-sm-8">
                    <input   type="text" [(ngModel)]="newHospital.doctorlist.qualification"  id="textqua"  name="qua" class="form-control">
                </div>
            </div>
            
            <div class="form-group row">
                <label for="textexp" class="col-sm-4">Doctor's Expierence</label>
                <div class="col-sm-8">
                    <input   type="text" [(ngModel)]="newHospital.doctorlist.expierence"  id="textexp" placeholder="Doctor Expierence" name="exp" class="form-control">
                </div>
            </div> -->
                    </div>
                    <!-- <footer> -->
                    <div class="modal-footer">
                        <button (click)="updateClick()" class="btn btn-success" data-dismiss="modal">Update</button>
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
