
<!-- <div style="position:absolute; left:500px; top:60px;" class="border-border-dark p-4 m-4" >
<p>add-user works!</p>
<button type="button" *ngIf="isNew == true" (click) = "onEditClick()" data-action-type="view" class="btn btn-danger">
    Edit
  </button>
</div> -->

<!-- <form>
     Header 
    <div class="modal" role="dialog" id="EditModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Edit Hospital</div>
                    <button class="close" data-dismiss="modal" type="button">
                        <span>&times;</span>
                    </button>
                </div>
                 Body -->
                <!-- <div class="modal-body">
                    <div class="form-group row">
                        <label for="textname" class="col-sm-4">Hospital-Name</label>
                        <div class="col-sm-8">
                            <input type="text"  id="textname" name="name"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="texadd" class="col-sm-4">Facilities</label>
                        <div class="col-sm-8">
                            <input type="text"  id="textadd" name="facility"
                                class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="textdept" class="col-sm-4">Departments</label>
                        <div class="col-sm-8">
                            <input type="text"  id="textdept" name="dept"
                                class="form-control">
                        </div>
                    </div>
                    </div>
             <footer>
                <div class="modal-footer">
                    <button (click)="updateClick()" class="btn btn-success" data-dismiss="modal">Update</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</form>  -->