<div style="position:absolute; left:300px; top:60px;">
    <div class="text-dark">
        <h1 class="text-center" >Welcome to Paperless Prescription </h1>
        <p >The  Healthcare Group was set up as a consequence of Mr ABC and his wife Dr CDF courage,
             coupled with their ambitious plans and innovative ideas to make quality healthcare services accessible and affordable.
              An initiative that has changed the healthcare landscape of the region.
               They have been successful in creating a viable business model along with making healthcare more accessible and affordable. 
               The Ivy Healthcare Group stands testimony to one of the best patient-care facilities in Himachal hospitals, where compassion rules over commercialism, 
               quality healthcare treatments are provided using state-of-art equipment - at affordable rates, 
               stand tall as one of the most sought–after and reliable healthcare institute of North India.
               With a team of highly qualified and experienced doctors, from premier institutes of the country,
                many complex cases and surgeries are performed across the seven facilities in the group.
                 All facilities are NABH compliant and most hospitals are NABH accredited - which is the highest standard quality accreditation for hospitals in India.
                  The flagship hospital in Kangra was set up in 2007 with a promise to provide ethical treatment to all and take quality healthcare services to the doorstep of
                   people from all sections of the society. The group currently provides treatment to over 200,000 patients
                    annually and has close to 1100 beds and over 25 super-specialities across its seven facilities.The promoter’s
                     unwillingness to conform to societal standards of a “secure” professional life and their faith in the Almighty
                      has been a source of strength to drive them along with all challenges they encountered in order to pursue their passion 
                      of providing quality care services to people across all socio-economic strata. Their compassion towards the society
                       and the feeling to pay it forward along with a strong entrepreneurial zeal led to the inception of their first hospital
                        and there has been no looking back for this dynamic visionary duo, since.As healthcare is a rapidly changing sector
                        , The promoters have invested a lot in quality controls, technological advancements and hosting many continuing medical
                         education programs for doctors and staff, in order to encourage them to stay in touch
                          with latest treatments and techniques.Opposed to aimless expansion, they prefer to plan 
                          diversification and branching based on effectiveness. They are driven by a sole mission- 
                          to provide honest and affordable healthcare services to all. With this objective in mind,
                           they have already taken steps to take world-class healthcare to the doorstep of the population
                            in Tier 2/3 cities of North India, such as Kangra, Dehra and Chintpurni - where Ivy Hospital 
                            is the only hospital providing multi-super speciality care under one roof.Dr ABC and Mr ABC
                             strongly feel that healthcare is not and should not be treated as a commodity or business,
                              it has to be a mission. The nobility of this profession has to be retained and healthcare
                               has to be ethical, affordable and transparent and they are committed to maintaining that at 
                               the  Healthcare Group, by all means.</p>
    <br>
        <div>
            <img  src="assets/hospital-building-modern-parking-lot-59693686.jpg" width="1800px">
        </div>

    </div>
    </div>